<div class="this_weeks_hours">
  <p>
    <% if hours.blank? %>
      <strong><%= I18n.t 'no_hours_available' %></strong>
    <% end %>
    <% todayHours = Date.parse(Date.today.to_s) %>
    <%= raw "#{todayHours}".html_safe %><br>
    <br>
    <% hours.each do |key, value| %>
      <% day = Date.parse(key) %>
      <% if day.today? %>
        <h4> Today: </h4>
      <% else %>
          <strong><%= day.strftime("%A") %>: </strong>
      <% end %>
      <%= raw "#{value["formatted_hours"]}".html_safe %><br>
      <%= raw "#{key}".html_safe %><br>
    <% end %>
  </p>
</div>