<div class="todays_hours">
  <% if hours.blank? %>
    <h2><%= I18n.t 'no_hours_available' %></h2>
  <% end %>
  <% hours.each do |key, value| %>
    <% day = Date.parse(key) %>

    <% if limited == true %>
      <h2><%= day.today? ? 'Today' : day.strftime("%A") %>:
        <%= raw "#{value["formatted_hours"].split('<br>').first.html_safe}" %>
      </h2>
      <p class="limited-hours-info"><%= raw "#{value["formatted_hours"].split('<br>').second.html_safe}" %></p>
    <% else %>
      <h2><%= day.today? ? 'Today' : day.strftime("%A") %>:
        <%= raw "#{value["formatted_hours"].html_safe}" %></h2>
    <% end %>
  <% end %>
</div>
